

* {
    * { margin: 0; padding: 0; box-sizing: border-box; }
          html { 
              scroll-behavior: smooth; /* Smooth scrolling added here */
          }
          body { font-family: "Funnel Display", sans-serif; background-color: #dad943; }
  }
  
  /* Create two equal columns that floats next to each other */
  .column-motion {
    float: left;
    width: 33.33%;
    /* padding: 10px; */
    height: 50vh;
    background-color: red;
  }
  
  /* Clear floats after the columns */
  .row-motion:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1200px) {
    .column-motion {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column-motion {
      width: 100%;
    }
  }
  
  .column-motion {
    position: relative;
    background-color: #dad943;
    /* border: 1px solid white; */
  }
  
  
  
  .overlay-motion {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #232323;
  }
  
  .column-motion:hover .overlay-motion {
    opacity: 1;
  }
  
  .text {
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-20%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  
    padding: 25px;
    background-color: #dad943;
    color: #353222;
    
    padding: 10px 32px;
    border-radius: 50px;
    
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' if you want to show the full image */
    display: block;
  }
  